@import '@fortawesome/fontawesome-free/css/all.min.css';

.container {
  max-width: 700px;
  margin: 0 auto; 
    padding: 20px; 
}
.mb-4{
   display:list-item;
   justify-content:space-between;
}
.footer-social-links {
  margin-top: 20px;
}
.footer-social-links a {
  color: white;
  font-size: 18px;
  margin-right: 10px;
}

.footer-social-links a:hover {
  opacity: 0.8; 
}
