@import '@fortawesome/fontawesome-free/css/all.min.css';

.container {
  max-width: 600px; /* Adjust the width as per your requirement */
  margin: 0 auto; /* Centers the footer horizontally */
  padding: 20px; /* Adds some spacing around the footer content */
}

.footer-social-links {
  margin-top: 20px; /* Adjust the top margin as needed */
}

.footer-social-links a {
  color: white;
  font-size: 18px;
  margin-right: 10px; /* Adds spacing between social icons */
}

.footer-social-links a:hover {
  opacity: 0.8; /* Adds hover effect to social icons */
}
