/* societe.css */

.containe {
    background-color: #dfd1d1;
    padding: 20px;
    border-radius: 5px;
  }
  
  .containe h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .containe table {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .custom-button {
    /* Custom button styles */
    /* Example styles: */
    background-color: #f5f3f0;
    color: #171c1f;
    border: 1px solid #0a0909;
    /* Add more styles as needed */
  }
  
  